[submodule ".github"]
	path = .github
    url = git@github.com:gnostr-org/.github.git
    ignore = dirty
[submodule "desktop"]
	path = desktop
	url = git@github.com:gnostr-org/desktop.git
    ignore = dirty
[submodule "dugite"]
	path = dugite
	url = git@github.com:gnostr-org/dugite.git
    ignore = dirty
[submodule "dugite-native"]
	path = dugite-native
	url = git@github.com:gnostr-org/dugite-native.git
    ignore = dirty
[submodule "registry-js"]
	path = registry-js
	url = git@github.com:gnostr-org/registry-js.git
    ignore = dirty
[submodule "desktop-notifications"]
	path = desktop-notifications
	url = git@github.com:gnostr-org/desktop-notifications.git
    ignore = dirty
[submodule "desktop-trampoline"]
	path = desktop-trampoline
	url = git@github.com:gnostr-org/desktop-trampoline.git
    ignore = dirty
[submodule "desktop-markdown-training"]
	path = desktop-markdown-training
	url = git@github.com:gnostr-org/desktop-markdown-training.git
    ignore = dirty
[submodule "highlighter-tests"]
	path = highlighter-tests
	url = git@github.com:gnostr-org/highlighter-tests.git
    ignore = dirty
[submodule "win32-user-locale"]
	path = win32-user-locale
	url = git@github.com:gnostr-org/win32-user-locale.git
    ignore = dirty
[submodule "node-detect-arm64-translation"]
	path = node-detect-arm64-translation
	url = git@github.com:gnostr-org/node-detect-arm64-translation.git
    ignore = dirty
[submodule "askpass-trampoline"]
	path = askpass-trampoline
	url = git@github.com:gnostr-org/askpass-trampoline.git
    ignore = dirty
[submodule "diff-tests"]
	path = diff-tests
	url = git@github.com:gnostr-org/diff-tests.git
    ignore = dirty
[submodule "electron-notarize"]
	path = electron-notarize
	url = git@github.com:gnostr-org/electron-notarize.git
    ignore = dirty
[submodule "rebase-test-cases"]
	path = rebase-test-cases
	url = git@github.com:gnostr-org/rebase-test-cases.git
    ignore = dirty
[submodule "what-the-changelog"]
	path = what-the-changelog
	url = git@github.com:gnostr-org/what-the-changelog.git
    ignore = dirty
[submodule "nostr_client_relay"]
	path = nostr_client_relay
	url = git@github.com:gnostr-org/nostr_client_relay.git
    ignore = dirty
[submodule "gnostr"]
	path = gnostr
	url = git@github.com:gnostr-org/gnostr.git
	ignore = dirty
	description = "gnostr - a nostr git utility"
